<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a class="page-links" href="{% url 'logout' %}">Logout</a></li>
                <li><a class="page-links" href="{% url 'create_account' %}">Sign up</a></li>
                <li><a class="page-links" href="{% url 'create_category' %}">Create Category</a></li>
                <li><a class="page-links" href="{% url 'account_list' %}">Account List</a></li>
                <li><a class="page-links" href="{% url 'category_list' %}">Category List</a></li>
                <li><a class="page-links" href="{% url 'create_receipt' %}">Create Receipt</a></li>
                {% else %}
                <li><a class="page-links" href="{% url 'signup' %}">Sign up</a></li>
                <li><a class="page-links" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>

            <tbody>
                {% for list_object in account_list %}
                <tr>
                    <td>{{ list_object.name }}</td>
                    <td>{{ list_object.number }}</td>
                    <td>{{ list_object.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>