<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a class="page-links" href="{% url 'logout' %}">Logout</a></li>
                <li><a class="page-links" href="{% url 'create_account' %}">Sign up</a></li>
                <li><a class="page-links" href="{% url 'create_category' %}">Create Category</a></li>
                <li><a class="page-links" href="{% url 'account_list' %}">Account List</a></li>
                <li><a class="page-links" href="{% url 'category_list' %}">Category List</a></li>
                <li><a class="page-links" href="{% url 'create_receipt' %}">Create Receipt</a></li>
                {% else %}
                <li><a class="page-links" href="{% url 'signup' %}">Sign up</a></li>
                <li><a class="page-links" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>

            <tbody>
                {% for list_object in receipts_list %}
                <tr>
                    <td>{{ list_object.vendor }}</td>
                    <td>{{ list_object.total }}</td>
                    <td>{{ list_object.tax }}</td>
                    <td>{{ list_object.date|date:"m/d/y" }}</td>
                    <td>{{ list_object.category.name }}</td>
                    <td>{{ list_object.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>